html {
    /* background-color: rgb(186, 203, 206); */
    /* background-image: url("./images/close-up-mineral-background.jpg"); */
    
}

body {
    /* margin: 1;
    padding: 0; */
    
}

header {
    /* margin: 0;
    padding: 0; */
}

.text {
    
    text-decoration-color: black;
    font-family:"Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana", sans-serif;
}

.navbar-custom {
    background-color: rgba(254, 0, 0, 0.288);
    border-radius: 25px;
    
}
/* Modify brand and text color */
.navbar-item {
    text-decoration-color: rgb(255, 255, 255);
}
.navbar-custom .navbar-brand,
.navbar-custom {
    color: rgb(255, 255, 255);
}
section {
    background-color: rgba(255, 255, 255, 0.327);
}
.fw-light {
    
    
    color: rgba(254, 0, 0, 0.647);

}
h1 {
    text-align: center;
}
img {
    image-rendering: optimizeQuality;
}
.head-shot{
    border-radius: 50%;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.433), 0 10px 20px 0 rgba(0, 0, 0, 0.438);
}

.bg {
    /* The image used */
    background-image: url("./images/Strawberry_bubbly.jpg");
    /* background-color: rgba(233, 235, 236, 0.892); */

    /* Full height */
    height: 25%;

    /* Center and scale the image nicely */
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: scroll;
    
}
footer {
    text-align: center;
    /* font-family: "Sofia", sans-serif; */
}