html {
    /* background-color: rgb(186, 238, 248); */
    /* background-image: url("./images/close-up-mineral-background.jpg"); */
}


.navbar-custom {
    background-color: rgb(241, 181, 232);
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(143, 66, 244);
}
/* section {
    background-color: rgb(239, 142, 176); */
/* }  */
.fw-light {
    
    
    color: rgb(248, 248, 248);

}
h1 {
    text-align: center;
}
img {
    image-rendering: optimizeQuality;
}
.head-shot{
    border-radius: 50%;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.433), 0 10px 20px 0 rgba(0, 0, 0, 0.438);
}
footer {
    text-align: center;
    font-family: 'Chilanka', cursive;
}
body, html {
    height: 100%;
    /* background-image: url("./images/close-up-mineral-background.jpg"); */
}

.bg {
    /* The image used */
    background-image: url("./images/close-up-mineral-background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
