

.container {
  width: 70%;
  margin: auto;
  text-align: center;

}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  /* background-color: #f9da61b1; */
  background-image: url("./images/futuristic-casino-architecture.png.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #6a0707bb;
  font-size: 8rem;
  color: #ff8daf;
}

p {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #6a0707bb;
  font-size: 2rem;
  color: #ff8daf;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #ff8daf;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
